<%= form_with(model: booking,url: complaints_booking_path(booking.id), method: :put) do |form| %>
    <%= booking.id%>
    <div class="field">
    <%= form.label :complaints, "Feedback:" ,style: "text-align: left;"%><br>
    <%= form.text_field :complaints %>
    </div>
    <%= form.submit "Submit" %>
<%end%>