<html>
  <head>

  </head>
  <body>
    <%= form_with(model: Booking, url:  bookings_path, id: 'booking-form',method: :post) do |form| %>   
      <%= form.label :start_date, "Select Date", id: 'label' %><br />
      <%= form.date_field :start_date, min: Date.today, max: 2.month.from_now.to_date, id: 'date-select',class: 'form-field'  %><br />
      <br />
      <%= form.label :duration_id, "Select Duration", id: 'label' %><br />
      <%= form.select :duration_id, options_from_collection_for_select(Duration.all, 'id', 'name'), { prompt: 'Select Duration' }, id: 'duration-select',class: "form-field"  %><br />
      <%= form.hidden_field :available_room_id, value: room.id, id: 'room-id' %>
      <br />
      <%= form.label :number_of_guests, "Number Of Guests", id: 'label' %><br />
      <%= form.number_field :number_of_guests, value: 1, step: 1, id: 'number-of-guests',class: "form-field"  %><br />

      <br />
      <%= form.label :number_of_rooms, "Total rooms", id: 'label' %><br />
      <%= form.number_field :number_of_rooms, value: 1, step: 1, id: 'number-of-rooms',class: "form-field"  %><br />

     <div id="price_field">
     Price:
     </div>
      <%= form.submit "Book" %>
    <% end %>
  </body>
  
<script>
  $(document).ready(function() {
    $('#bookroomModal_<%= room.id %>').on('shown.bs.modal', function () {
      // JavaScript code to be triggered after the modal is shown
      console.log("Modal is shown");
      
      $(document).on('change', '#booking-form', function() {
        // Get the form data
         console.log("changed");
        var roomId = $('#room-id').val();
        var durationId = $('#duration-select').val();
        var numberOfGuests = $('#number-of-guests').val();
        var numberOfRooms = $('#number-of-rooms').val();
        console.log(roomId);
        $.ajax({
          type: 'POST',
          url: '/calculate_price', // Update this with your route
          data: {
            room_id: roomId,
            duration_id: durationId,
            number_of_guests: numberOfGuests,
            number_of_rooms: numberOfRooms
          },
          dataType: 'json',
          success: function(response) {
            // Update the price field with the calculated price
            $('#price_field').text(response.price);
          },
          error: function(xhr, status, error) {
            // Handle errors
            console.error(xhr.responseText);
          }
        });
      });
    });
  });
</script>



</html>