<% @bookings.each do |booking| %>
  <div>
    <%= booking.id %>
    <%= booking.start_date %>
    <%= booking.duration.name %>
    <%= booking.total_price %>
    <button type="button" id="complaints" class="btn" data-bs-toggle="modal" data-bs-target="#complaintsModal">Feedback</button>
   <%= render partial: "complaints_form", locals: { booking: booking } %>
  </div>
<% end %>

<script>
    $('#complaints').on('click', function(){
    const Compalints = document.getElementById('complaints');
    const myModal = document.getElementById('complaintsModal');
    

    myModal.addEventListener('shown.bs.modal', () => {
        AddOwnerInput.focus();
    });
});
</script>