<%= stylesheet_link_tag 'bookings', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if current_user && current_user.role== "user"%>
   <table class="complaints-table">
    <thead>
      <tr>
        <th>Booking-ID</th>
        <th>Start Date</th>
        <th>Duration</th>
        <th>Total Price</th>
        <th>Your Feedback</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.id %></td>
          <td><%= booking.start_date %></td>
          <td><%= booking.duration.name %></td>
          <td><%= booking.total_price %></td>
          <td>
            <%= render partial: "complaints_form", locals: { booking: booking } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%else%>
  <%= render partial: "complaints", locals:{buildings: @pg_buildings}%>
<%end%>
