<html>
    <head>
        <%= javascript_include_tag 'owners' %>
    </head>
    <body>
        <%= render partial: "modal"%>
        <div class="container">
            <div class="dashboard">
                <h1>Dashboard</h1>
                <p><%= Date.today.strftime("%d-%m-%Y") %></p>
            </div>
            <div class="search">
            </div>
            <div class="pfp_image">
                <%= image_tag("pfp.webp",class:"image")%>
            </div>
            <div class="name">
                    <span><%= current_user.admin.name %></span>
            </div>
        </div>
        <div class="admin_action_buttons">
            <button type="button" id="add_owner_input" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Owner</button>
            <button type="button" id="myInput1" class="btn"><%= link_to 'Edit Owner',owners_path,class:"links"%></button>
        </div>
        <div class="container_grid text-center">
            <div class="row">
                <div class="col">
                    <span id="deactive_owners_count">
                    <h4>Deactive Owners</h4>
                    <br />
                    <h6><%= @deactive_count %></h6>
                    <br />
                    </span>
                    <button type="button" class="action_btns"><%= link_to 'Activate', owners_path, method: :get,class:"links"%></button>
                </div>
                <div class="col">
                    <h4>Active PG Owners</h4>
                    <br />
                    <h6><%= @active_count %></h6>
                    <br />
                    <button type="button" class="action_btns"><%= link_to 'De-Activate', owners_path, method: :get,class:"links"%></button>
                </div>
                <div class="col">
                    <h4>Total PG Owners</h4>
                    <br />
                    <h6><%= current_user.admin.owners.count%></h6>
                    <br />
                    <button type="button" class="action_btns"><%= link_to 'View All', owners_path, method: :get,class:"links"%></button>
                </div>
                <div class="col">
                    <h4>Total PG's</h4>
                    <br />
                    <b><%= active_buildings_count(current_user)%></b>
                    <br />
                    <br />
                    <button type="button" class="action_btns"><%= link_to 'View All',owners_path, method: :get,class:"links"%></button>
                </div>
            </div>
        </div>
        <div class="grid-container", style="width: 100%">
            <% filtered_pg_buildings(@pg_buildings, current_user).each do |building| %>
                    <div class="item", id="building">
                        <%=link_to pg_building_path(building.id), method: :get do%>
                    
                            <div class="image_container">
                                <%= building_image_tag(building) %>
                            </div>
                        <%end%>
                            <div class="content">
                                <div class="details">
                                    <b><p><%=building.name%></p></b>
                                    <p>phone: <%=building.phone%></p>
                                    <p><%=building.email%></p>
                                    <p><%=building.address%></p>
                                </div>
                            </div>
                    </div>
            <%end%>
        </div>
    </body>
</html>