<html>
    <head>
        <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'owners' %>
    </head>
    <body>
        <%= render partial: "modal"%>
        <div class="container">
            <div class="dashboard">
                <h1>Dashboard</h1>
                <p><%= Date.today.strftime("%d-%m-%Y") %></p>
                
            </div>
            
            <div class="search">
            </div>
            <div class="pfp_image">
                <%= image_tag("pfp.webp",class:"image")%>
            </div>
            <div class="name">
                    <span><%= current_user.owner.name%></span>
            </div>
        </div>
        <div class="action_buttons">
            <button type="button" id="add_owner_input" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Building</button>       
        </div>
        <div class="grid-container">
            <%all_pg_buildings_owner(@pg_buildings,current_user).each do |building| %>
                <div class="item", id="building">
                    <%=link_to pg_building_path(building.id), method: :get do%>
                        <div class="image_container">
                            <%= building_image_tag(building) %>
                        </div>
                    <%end%>
                    <div class="content">
                        <div class="details">
                            <b><p><%=building.name%></p></b>
                            <p><%=building.phone%></p>
                            <p><%=building.email%></p>
                            <p><%=building.address%></p>
                        </div>
                        <div class="actions">
                            <%= button_to 'Delete', pg_building_path(building.id), method: :delete, data: { confirm: 'Are you sure?' },class:"btn" %>
                            <br />
                            <br />
                            <button class="btn"><%= link_to 'Edit',class:'links'%></button>
                        </div>
                    </div>
                    
                </div>
            <%end%>
        </div>
    </body>
</html>