<html>
    <head>
        <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
      
    </head>
    <body >
        <% if current_user %>
            <% if admin_log_in? %>
                <%= render partial: "admin"%>
                
            <%elsif owner_log_in? %>
                <%= render partial: "owner"%>

            <%else%>
                <%= render partial: "customer"%>
            <%end%>
        <%else%>
            <div class="grid-container", style="width: 100%">
            <%@pg_buildings.each do |building|%>
                        <%if building.owner.status == "active"%>
                            <div class="item", id="building">
                                 <%=link_to pg_building_path(building.id), method: :get do%>
                                
                                    <div class="image_container">
                                        <% if building.image.present? %>
                                            <%= image_tag url_for(building.image), class: "image" %>
                                        <% else %>
                                            <p class="no_image", style="padding-left:20%;">No image available</p>
                                        <% end %>
                                    </div>
                                <%end%>
                                    <div class="content">
                                        <div class="details">
                                            <p><%=building.name%></p>
                                            <p>phone: <%=building.phone%></p>
                                            <p><%=building.email%></p>
                                            <p><%=building.address%></p>
                                        </div>
                                    </div>
                            </div>
                        <%end%>
            <%end%>
        </div>
        <% end %>
    </body>
</html>