<html>
    <head>
        <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
      
    </head>
    <body >
        <% if current_user %>
            <% if admin_log_in? %>
                <%= render partial: "admin"%>
                
            <%elsif owner_log_in? %>
                <%= render partial: "owner"%>

            <%else%>
                <%= render partial: "customer"%>
            <%end%>
        <%else%>
            <div class="grid-container">
            <%@pg_buildings.each do |building|%>
                        <%=link_to pg_building_path(building.id) do%>
                            <div class="item", id="building">
                                <div class="image_container">
                                    <% if building.image.present? %>
                                        <%= image_tag url_for(building.image), class: "image" %>
                                    <% else %>
                                        <p>No image available</p>
                                    <% end %>
                                </div>
                                <div class="details">
                                    <p><%=building.name%></p>
                                    <p><%=building.phone%></p>
                                    <p><%=building.email%></p>
                                    <p><%=building.address%></p>
                                </div>
                            </div>
                        <%end%>
            <%end%>
            </div>

        <% end %>
    </body>
</html>