<html>
  <head></head>
  <body>
      <%= form_with(model: @room_type,url: room_type_path(@room_type.id), method: :patch) do |form| %>
        <div class="field">
          <%= form.label :name, "Room Type" %><br>
          <%= form.text_field :name %>
        </div>
        <div class="field">
          <%= form.label :price, "Cost per Day" %><br>
          <%= form.text_field :price %>
        </div>

        <%= form.submit "Submit" %>
      <% end %>
        </div>
  </body>
</html>