<html>
    <head>
        <%= javascript_include_tag 'building' %>
        <%= stylesheet_link_tag "building" %>
    </head>
    <body>
    
        <% if current_user && current_user.owner%>
            <%= render partial: "modal", locals: {pg_building: pg_building}%>
            <div class="main_container">
                <div class="admin_action_buttons",style="margin-left: 30%;">
                <button type="button" id="add_room_type" class="btn" data-bs-toggle="modal" data-bs-target="#roomModal">Add Room Type</button>
                <button type="button" id="add_category" class="btn" data-bs-toggle="modal" data-bs-target="#categoryModal">Add Room Category</button>
                <button type="button" id="add_availability" class="btn" data-bs-toggle="modal" data-bs-target="#availabilityModal">Add Room Availability</button>
                
                </div>
                <br />
                <br />
                <h1><%= pg_building.name%></h1>
                <div class="image-container">
                    <%= building_image_tag(pg_building) %>
                </div>
                <br />

                <br />
                <p>Location:&nbsp &nbsp<%= pg_building.address%></p>
                <br />
                <div class="room_data1">
                    <u><h4>Room Types</h4></u>
                    <table class="table table-striped" id="room_type_table">
                        <tr>
                            <th>Room Type</th>
                            <th>Price(per Person)</th>
                            <th colspan="2" style="text-align:center;">Action</th>
                        </tr>    
                        <%= render_room_types(pg_building.room_types) %>
                    </table>
                    <br />
                    <br />
                    <u><h4>Room Catgory</h4></u>
                    <table class="table table-striped" id="room_type_table">
                        <tr>
                            <th>Room Category</th>
                            <th>Extra Price</th>
                            <th colspan="2" style="text-align:center;">Action</th>
                        </tr>    
                        <%= render_categories(pg_building.categories) %>

                    </table>
                    <u><h4>Available Rooms</h4></u>
                    <table class="table table-striped" id="room_type_table">
                        <tr>
                            <th>Room Type</th>
                            <th>Category</th>
                            <th>Availability</th>
                            <th>Price(per night)</th>
                            <th colspan="2" style="text-align:center;">Action</th>
                        </tr>    
                       <% pg_building.room_types.each do |room_type|%>
                                <% room_type.available_rooms.each do |room|%>
                                    <tr>
                                        <td><%= room.room_type.name%></td>
                                        <td><%= room.category.name%></td>
                                        <td><%= room.availability%></td>
                                        <td><%= room.room_price%></td>
                                        <td><%= link_to "Update", edit_available_room_path(room.id), method: :get, class: 'btn'%>
                                        <td><%= button_to "Delete",  available_room_path(room.id), method: :delete, class: 'btn'%>

                                    </tr>
                                <%end%>
                            <%end%>

                    </table>
                </div>
            </div>
        <%else%>
            <div class="main_container">
                <h1><%= pg_building.name%></h1>
                <div class="image-container">
                    <%= building_image_tag(pg_building) %>
                </div>
                <br />
                <br />
                <div>
                    <b><h5>Hosted By</h5></b>
                    <h6><%= pg_building.owner.name%></h6>
                </div>
                <hr />
                <br />
                <br />
                <p>Location:&nbsp &nbsp<%= pg_building.address%></p>
                <br />
                <u><h4>Rooms Available</h4></u>
                <div class="data">
                    <div class="table-data">
                        <table class="table table-striped">
                            <tr>
                                <th>Room Type</th>
                                <th>Category</th>
                                <th>Availability</th>
                                <th>Price(per Night)</th>
                                <th>Action</th>
                            </tr>    
                            <% pg_building.room_types.each do |room_type|%>
                                <% room_type.available_rooms.each do |room|%>
                                    <tr>
                                        <td><%= room.room_type.name%></td>
                                        <td><%= room.category.name%></td>
                                        <td><%= room.availability%></td>
                                        <td><%= room.room_price%></td>
                                        <td><button type="button" id="book_room" class="btn" data-bs-toggle="modal" data-bs-target="#bookroomModal_<%= room.id %>", data-room-id = "<%=room.id%>" >Book</button></td>
                                        <%= render partial: "modal", locals: {pg_building: pg_building, room: room}%>
                                    </tr>
                                <%end%>
                            <%end%>
                        </table>
                        <br />
                        <br />
                        <u><h4>Amenities</h4></u>
                        <div class="basic">
                            <div class="amenities">
                                <p><i class="fa-solid fa-wifi"></i>&nbsp &nbspWifi</p>
                                <p><i class="fa-solid fa-car"></i>&nbsp &nbsp Free Parking on Premisis</p>
                            </div>
                            <div class="amenities-2">
                                <p><i class="fa-solid fa-utensils"></i>&nbsp &nbspKitchen</p>
                                <p><i class="fa-solid fa-dumbbell"></i>&nbsp &nbspGym</p>
                            </div>
                        </div>
                    </div>
            
                    
                <br />
                <br />
       
             </div>
    
        <%end%>
    </body>
</html>