<html>
  <head>
    <%= stylesheet_link_tag 'building', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= form_with(model: AvailableRoom.new, url: calculate_price_available_room_path, id: 'price-calculation-form', local: false,method: :post) do |form| %>
      <%= form.select :room_type_id, options_from_collection_for_select(@room_types, 'id', 'name'), { prompt: 'Select Room Type' }, id: 'room-type-select' %><br />
      <br />
      <%= form.select :category_id, options_from_collection_for_select(@categories, 'id', 'name'), { prompt: 'Select Category' }, id: 'category-select' %><br />
       <%= form.submit "Submit" %>
    <% end %>
    <%= @room_price%>
  </body>
</html>