<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payments</title>
  <%= javascript_include_tag 'payments' %>
  <%= stylesheet_link_tag 'payments', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Add any additional stylesheets or styles here -->
</head>
<body>
<h1 >Payment Details</h1>
<div class= "main-container">
  <div class = "total">
    <h4>Total Price: &nbsp $<%= @booking.total_price%></h4>
    <h6>Please pay to complete your booking</h6>
  </div>
  <div class="container">
    
    <div class="payments-form">
      <%= form_with url: payments_path, method: :post, id: 'payments-form' do |form| %>
        <%= form.label :first_name, "First Name", class: 'form-label'%><br>
        <%= form.text_field :first_name, class: 'form-field' %><br>

        <%= form.label :last_name, "Last Name", class: 'form-label' %><br>
        <%= form.text_field :last_name, class: 'form-field' %><br>

        <%= form.label :number, 'Credit Card Number', class: 'form-label' %><br />
        <%= form.text_field :number, class: 'form-field' %><br />

        <%= form.hidden_field :booking_id, value: @booking.id %>
        
        <%= form.label :month, 'Expiration Month', class: 'form-label' %><br />
        <%= form.text_field :month, class: 'form-field' %><br />

        <%= form.label :year, 'Expiration Year', class: 'form-label' %><br />
        <%= form.text_field :year, class: 'form-field' %><br />

        <%= form.label :verification_value, 'CVV', class: 'form-label' %><br />
        <%= form.text_field :verification_value, class: 'form-field' %><br />

        <%= form.submit 'Submit Payment', class: 'btn-submit' %><br />
        <br />
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
