<html>
  <head>
    <style>
        .form_field{
            width: 500px;
        }
    </style>
  </head>
  <body>
    <%= form_with(model: RoomBooking.new, url:   room_bookings_path, id: 'booking-form',method: :post) do |form| %>
      <%= form.label :room_type_id, "Select Room Type" %><br />
      <%= form.select :room_type_id, options_from_collection_for_select(pg_building.room_types, 'id', 'name'), { prompt: 'Select Room Type' }, id: 'room-type-select',class: "form-field"  %><br />
     
      <%= form.label :category_id, "Select Room Category" %><br />
      <%= form.select :category_id, options_from_collection_for_select(pg_building.categories, 'id', 'name'), { prompt: 'Select Category' }, id: 'category-select',class: "form-field"  %><br />
      
      <%= form.label :start_date, "Select Date" %><br />
      <%= form.date_field :start_date, min: Date.today, max: 2.month.from_now.to_date, id: 'date-select',class: 'form-field'  %><br />

      
      <%= form.label :duration_id, "Select Duration" %><br />
      <%= form.select :duration_id, options_from_collection_for_select(Duration.all, 'id', 'name'), { prompt: 'Select Duration' }, id: 'duration-select',class: "form-field"  %><br />

     <%= form.label :number_of_guests, "Number Of Guests" %><br />
     <%= form.number_field :number_of_guests, value: 1, step: 1, id: 'number-of-guests',class: "form-field"  %><br />

     <%= form.label :number_of_rooms, "Total rooms" %><br />
     <%= form.number_field :number_of_rooms, value: 0, step: 1, id: 'number-of-rooms',class: "form-field"  %><br />

     <div id="price_field">
     Price:
     </div>
      <%= form.submit "Submit" %>
    <% end %>
  </body>
  <%
=begin%>
 <script>
  $(document).ready(function() {
    var today = new Date();
    var maxDate = new Date();
    maxDate.setMonth(maxDate.getMonth() + 1); // Set max date 1 month ahead

    $('#date-select').attr('max', formatDate(maxDate));
    $('#date-select').attr('min', formatDate(today));
  });

  function formatDate(date) {
    var dd = String(date.getDate()).padStart(2, '0');
    var mm = String(date.getMonth() + 1).padStart(2, '0');
    var yyyy = date.getFullYear();

    return yyyy + '-' + mm + '-' + dd;
  }
</script> 
<%
=end%>
<script>
  $(document).ready(function() {
  $('#booking-form').on('change', function() {
    // Get the form data
    var roomTypeId = $('#room-type-select').val();
    var categoryId = $('#category-select').val();
    var durationId = $('#duration-select').val();
    var numberOfGuests = $('#number-of-guests').val();
    var numberOfRooms = $('#number-of-rooms').val();

    // Send an AJAX request to calculate the price
    $.ajax({
      type: 'POST',
      url: '/calculate_price', // Update this with your route
     data: {
            room_type_id: roomTypeId,
            category_id: categoryId,
            duration_id: durationId,
            number_of_guests: numberOfGuests,
            number_of_rooms: numberOfRooms
        },
      dataType: 'json',
      success: function(response) {
        // Update the price field with the calculated price
        $('#price_field').text(response.price);
      },
      error: function(xhr, status, error) {
        // Handle errors
        console.error(xhr.responseText);
      }
    });
  });
});
</script>


</html>