<html>
  <head></head>
  <body>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
             <%= form_with(model: @owner, url: {controller: 'owner', action: 'create'}, method: :post) do |form| %>
              <div class="field">
                <%= form.label :name, "Owner Name" %><br>
                <%= form.text_field :name %>
              </div>
              <div class="field">
                <%= form.label :phone, "Phone Number" %><br>
                <%= form.text_field :phone %>
              </div>
      
              <%= form.fields_for :user_attributes do |user_fields| %>
                <div class="field">
                  <%= user_fields.label :email, "Email Address" %><br>
                  <%= user_fields.email_field :email %>
                </div>
                <div class="field">
                  <%= user_fields.label :password, "Password" %><br>
                  <%= user_fields.password_field :password %>
                </div>
              <% end %>

              <%= form.submit "Add Owner" %>
            <% end %>
        </div>
    </div>
    </div>
</div>
  </body>
  <script>
    const myModal = document.getElementById('myModal');
      const myInput = document.getElementById('myInput');

      myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus();
      });
</script>
</html>