<html>
  <head></head>
  <body>
      <%= form_with(model:  @category_type, url: category_path(@category_type.id), method: :patch) do |form| %>
        <div class="field">
          <%= form.label :name, "Room Category" %><br>
          <%= form.text_field :name %>
        </div>
        <div class="field">
          <%= form.label :price, "Cost" %><br>
          <%= form.text_field :price %>
        </div>

        <%= form.submit "Submit" %>
      <% end %>
        </div>
  </body>
</html>