<html>
  <head>
    <%= stylesheet_link_tag 'building', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= form_with(model: AvailableRoom.new, url: available_rooms_path, id: 'room_availability-form',method: :post) do |form| %>
      <%= form.label :room_type_id, "Select Room Type" %><br />
      <%= form.select :room_type_id, options_from_collection_for_select(pg_building.room_types, 'id', 'name'), { prompt: 'Select Room Type' }, id: 'room-type-select' %><br />
     
      <%= form.label :category_id, "Select Room Category" %><br />
      <%= form.select :category_id, options_from_collection_for_select(pg_building.categories, 'id', 'name'), { prompt: 'Select Category' }, id: 'category-select' %><br />
     
      <%= form.label :availability, "Room Availability" %><br />
      <%= form.text_field :availability%>
     
      <%= form.submit "Submit" %>
    <% end %>
  </body>
</html>